version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    depends_on:
      - redis
    environment:
      - FLASK_ENV=production

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    command: celery -A app.celery_worker.celery worker --loglevel=info
    depends_on:
      - redis
      - web

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
  